<div class="container">
  <div class="header" fxLayoutAlign="center start">
    <div
      fxFlex="80"
      fxFlex.lt-lg="100"
      fxLayout="column"
      fxLayoutGap="28px"
      style="z-index: 2"
    >
      <div fxLayoutAlign="space-between center">
        <div class="img-logo">
          <img src="./assets/img/logo.svg" alt="logo" />
        </div>
        <div
          class="lang-container"
          fxLayoutGap="8px"
          fxLayoutAlign="start center"
        >
          <div fxLayoutGap="4px" fxLayoutAlign="start center">
            <div class="selected-lang">{{ currentLang | uppercase }}</div>
            <mat-icon fxLayoutAlign="start center">public</mat-icon>
          </div>
          <div
            fxLayoutAlign="center center"
            (click)="handleToggleMenuLang()"
            id="btn-toggle-menu"
          >
            <mat-icon fxLayoutAlign="start center" style="cursor: pointer"
              >keyboard_arrow_down</mat-icon
            >
          </div>
          <div
            class="lang-list"
            id="menu-lang"
            fxLayout="column"
            *ngIf="menuLang"
          >
            <span class="item-lang" (click)="selectLang('en')">EN</span>
            <span class="item-lang" (click)="selectLang('fr')">FR</span>
          </div>
        </div>
      </div>
      <div
        fxLayoutAlign="start center"
        fxLayoutGap="32px"
        fxLayout.lt-md="column"
      >
        <div
          class="text-header"
          fxFlex="50"
          fxFlex.lt-md="100"
          fxLayout="column"
          fxLayoutGap="35px"
          fxLayoutAlign.lt-md="start center"
        >
          <h1
            class="title1 title"
            fxLayout="column"
            fxLayoutAlign="start start"
            fxLayoutAlign.lt-md="start center"
          >
            {{ "title-introduction" | translate }}
          </h1>
          <div class="description" fxLayoutAlign.lt-md="start center">
            {{ "better-understand-your-weight" | translate }}
          </div>
        </div>
        <form
          class="formulare"
          fxFlex="50"
          fxFlex.lt-md="100"
          fxLayout="column"
          fxLayoutGap="32px"
        >
          <h3 class="title3">
            {{ "enter-your-details-below" | translate }}
          </h3>
          <div
            class="btn-group"
            fxLayout="row"
            fxLayoutAlign="start center "
            fxLayoutGap="24px"
          >
            <div fxFlex="50" fxLayoutAlign="start start">
              <label
                for="metric"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="18px"
              >
                <input
                  type="radio"
                  name="system"
                  id="metric"
                  value="metric"
                  checked
                  [(ngModel)]="selectedSystem"
                  (ngModelChange)="onChangeSystem()"
                />
                <span class="radio"></span>
                <span class="label-radio">{{ "metric" | translate }}</span>
              </label>
            </div>
            <div fxFlex="50" fxLayoutAlign="start start">
              <label
                for="imperial"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="18px"
              >
                <input
                  type="radio"
                  name="system"
                  id="imperial"
                  value="imperial"
                  [(ngModel)]="selectedSystem"
                  (ngModelChange)="onChangeSystem()"
                />
                <span class="radio"></span>
                <span class="label-radio">{{ "imperial" | translate }}</span>
              </label>
            </div>
          </div>
          <div
            class="input-group"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="24px"
            *ngIf="selectedSystem === 'metric'"
            fxLayout.lt-sm="column"
            fxLayoutAlign.lt-sm="start"
          >
            <label
              for="height"
              fxFlex="50"
              fxFlex.lt-sm="100"
              fxLayout="column"
              fxLayoutGap="8px"
            >
              <span class="label-input">{{ "height" | translate }}</span>
              <div
                fxFlex="row"
                fxLayoutAlign="start center"
                class="input-container"
              >
                <input
                  type="text"
                  name="height"
                  id="height"
                  [(ngModel)]="heightValue"
                  #height="ngModel"
                  placeholder="0"
                  pattern="[0-9]*([.][0-9]+)?"
                  [ngClass]="{
                    'invalid-input':
                      (height.invalid || weight.invalid) &&
                      (height.dirty || height.touched)
                  }"
                  (blur)="calculateBMI()"
                />
                <span class="unite">cm</span>
              </div>
            </label>
            <label
              for="weight"
              fxFlex="50"
              fxFlex.lt-sm="100"
              fxLayout="column"
              fxLayoutGap="8px"
            >
              <span class="label-input">{{ "weight" | translate }}</span>
              <div
                fxFlex="row"
                fxLayoutAlign="start center"
                class="input-container"
              >
                <input
                  type="text"
                  name="weight"
                  [(ngModel)]="weightValue"
                  #weight="ngModel"
                  id="weight"
                  pattern="[0-9]*([.][0-9]+)?"
                  placeholder="0"
                  [ngClass]="{
                    'invalid-input':
                      (weight.invalid || height.invalid) &&
                      (weight.dirty || weight.touched)
                  }"
                  (blur)="calculateBMI()"
                />
                <span class="unite">kg</span>
              </div>
            </label>
          </div>

          <div
            class="input-group"
            fxLayout="column"
            fxLayoutAlign="start "
            fxLayoutGap="24px"
            *ngIf="selectedSystem === 'imperial'"
          >
            <label fxFlex="100" fxLayout="column" fxLayoutGap="8px">
              <span class="label-input">{{ "height" | translate }}</span>
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="24px"
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start"
              >
                <div
                  fxFlex="row"
                  fxLayoutAlign="start center"
                  class="input-container"
                >
                  <input
                    fxFlex="100"
                    type="text"
                    name="heighFt"
                    pattern="[0-9]*([.][0-9]+)?"
                    placeholder="0"
                    [(ngModel)]="heightFt"
                    #heightFtInput="ngModel"
                    [ngClass]="{
                      'invalid-input':
                        heightFtInput.invalid &&
                        (heightFtInput.dirty || heightFtInput.touched)
                    }"
                    (blur)="ftToCm()"
                  />
                  <span class="unite">ft</span>
                </div>
                <div
                  fxFlex="row"
                  fxLayoutAlign="start center"
                  class="input-container"
                >
                  <input
                    fxFlex="100"
                    type="text"
                    name="heightIn"
                    pattern="[0-9]*([.][0-9]+)?"
                    placeholder="0"
                    [(ngModel)]="heightIn"
                    #heightInInput="ngModel"
                    [ngClass]="{
                      'invalid-input':
                        heightInInput.invalid &&
                        (heightInInput.dirty || heightInInput.touched)
                    }"
                    (blur)="inToCm()"
                  />
                  <span class="unite">in</span>
                </div>
              </div>
            </label>
            <label fxFlex="100" fxLayout="column" fxLayoutGap="8px">
              <span class="label-input">{{ "weight" | translate }}</span>
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="24px"
                fxLayout.lt-sm="column"
                fxLayoutAlign.lt-sm="start"
              >
                <div
                  fxFlex="row"
                  fxLayoutAlign="start center"
                  class="input-container"
                >
                  <input
                    type="text"
                    name="weightSt"
                    pattern="[0-9]*([.][0-9]+)?"
                    placeholder="0"
                    [(ngModel)]="weightSt"
                    #weightStInput="ngModel"
                    [ngClass]="{
                      'invalid-input':
                        weightStInput.invalid &&
                        (weightStInput.dirty || weightStInput.touched)
                    }"
                    (blur)="stToKg()"
                  />
                  <span class="unite">st</span>
                </div>
                <div
                  fxFlex="row"
                  fxLayoutAlign="start center"
                  class="input-container"
                >
                  <input
                    type="text"
                    name="weightLbs"
                    pattern="[0-9]*([.][0-9]+)?"
                    placeholder="0"
                    [(ngModel)]="weightLbs"
                    #weightLbsInput="ngModel"
                    [ngClass]="{
                      'invalid-input':
                        weightLbsInput.invalid &&
                        (weightLbsInput.dirty || weightLbsInput.touched)
                    }"
                    (blur)="lbsToKg()"
                  />
                  <span class="unite">lbs</span>
                </div>
              </div>
            </label>
          </div>
          <div
            class="resultat"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayout.lt-sm="column"
            fxLayoutGap="24px"
            fxLayoutAlign.lt-sm="start"
          >
            <div
              fxFlex="50"
              fxFlex.lt-sm="100"
              fxLayout="column"
              fxLayoutGap="8px"
              class="resultat__value"
            >
              <span>{{ "your-ibm" | translate }}</span>
              <h1 class="title1" style="text-align: initial">
                {{ calculatedBMI }}
              </h1>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100" class="resultat__text">
              <p fxLayout="row wrap">
                {{ bmiComment | translate }}
                <strong
                  *ngIf="heightValue && calculatedBMI && selectedRange"
                  class="ideal-weight"
                  >{{
                    calculateWeight(
                      selectedRange.min == 0 ? 15 : selectedRange.min,
                      heightValue
                    )
                  }}kg -
                  {{
                    calculateWeight(selectedRange.max, heightValue)
                  }}kg</strong
                >
                <strong
                  *ngIf="!(heightValue && calculatedBMI && selectedRange)"
                >
                  63.3kgs - 85.2kgs.</strong
                >
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center start" class="what-bmi-mean">
    <div
      fxFlex="80"
      fxFlex.lt-lg="100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayout.lt-md="column"
      fxLayoutGap.lt-md="48px"
      class="content"
    >
      <div class="image-container" fxFlex="49" fxFlex.lt-md="100">
        <img src="./assets/img/image-man-eating.webp" alt="" />
      </div>
      <div
        class="text-container"
        fxLayout="column"
        fxLayoutGap="35px"
        fxLayoutGap.lt-md="32px"
        fxFlex="40"
        fxFlex.lt-md="100"
      >
        <h2 class="title2">{{ "what-your-BMI-result-means" | translate }}</h2>
        <div class="description">
          {{ "meaning-of-your-ibm" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="advices" fxLayoutAlign="center start">
    <div class="content" fxFlex="100" fxLayoutAlign="center start">
      <div
        fxFlex="80"
        fxFlex.lt-lg="100"
        fxLayout="row"
        fxLayoutGap="32px"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-md="40px"
      >
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="32px"
          fxLayout.lt-md="row"
          fxLayoutAlign.lt-md="start center"
          fxLayoutGap.lt-md="40px"
          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="start"
          fxLayoutGap.lt-sm="32px"
        >
          <div class="img">
            <img src="./assets/img/icon-eating.svg" alt="" />
          </div>
          <div class="text" fxLayout="column" fxLayoutGap="24px">
            <h3 class="title3">{{ "healthy-eating" | translate }}</h3>
            <div class="description">
              {{ "healthy-eating-text" | translate }}
            </div>
          </div>
        </div>
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="32px"
          fxLayout.lt-md="row"
          fxLayoutAlign.lt-md="start center"
          fxLayoutGap.lt-md="40px"
          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="start"
          fxLayoutGap.lt-sm="32px"
        >
          <div class="img">
            <img src="./assets/img/icon-exercise.svg" alt="" />
          </div>
          <div class="text" fxLayout="column" fxLayoutGap="24px">
            <h3 class="title3">{{ "regular-exercise" | translate }}</h3>
            <div class="description">
              {{ "regular-exercise-text" | translate }}
            </div>
          </div>
        </div>
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="32px"
          fxLayout.lt-md="row"
          fxLayoutAlign.lt-md="start center"
          fxLayoutGap.lt-md="40px"
          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="start"
          fxLayoutGap.lt-sm="32px"
        >
          <div class="img">
            <img src="./assets/img/icon-sleep.svg" alt="" />
          </div>
          <div class="text" fxLayout="column" fxLayoutGap="24px">
            <h3 class="title3">{{ "adequate-sleep" | translate }}</h3>
            <div class="description">
              {{ "adequate-sleep-text" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="limitation-bmi" fxLayoutAlign="center start">
    <div
      class="content"
      fxFlex="80"
      fxFlex.lt-lg="100"
      fxLayout="column"
      fxLayoutGap="24px"
    >
      <div
        fxLayout="row"
        fxLayoutGap="132px"
        [ngStyle.lt-sm]="{ 'margin-bottom': '56px ' }"
      >
        <div
          fxFlex="49"
          fxFlex.lt-md="100"
          fxLayoutGap="35px"
          fxLayoutAlign.lt-sm="32px"
          fxLayout="column"
          fxLayoutAlign.lt-md="center center"
        >
          <h2 class="title2" [ngStyle.lt-sm]="{ 'text-align': 'center' }">
            {{ "limitations-of-BMI" | translate }}
          </h2>
          <div class="description" [ngStyle.lt-md]="{ 'text-align': 'center' }">
            {{ "although-BMI-is-often" | translate }}
          </div>
        </div>
        <div
          class="card"
          fxFlex="32"
          fxHide.lt-md
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-gender.svg" alt="" />
            <h4 class="title4">{{ "gender" | translate }}</h4>
          </div>
          <div class="description">
            {{ "gendre-text" | translate }}
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between "
        fxLayoutGap="32px"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="16px"
      >
        <div class="card curviligne" fxFlex="32" fxHide.lt-md></div>
        <div
          class="card"
          fxFlex="32"
          fxFlex.lt-md="50"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-age.svg" alt="" />
            <h4 class="title4">{{ "age" | translate }}</h4>
          </div>
          <div class="description">
            {{ "age-text" | translate }}
          </div>
        </div>
        <div
          class="card"
          fxFlex="32"
          fxFlex.lt-md="50"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-muscle.svg" alt="" />
            <h4 class="title4">{{ "muscle" | translate }}</h4>
          </div>
          <div class="description">
            {{ "muscle-text" | translate }}
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center "
        fxLayoutGap="32px"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="16px"
        fxLayoutAlign.lt-sm="start"
      >
        <div
          class="card"
          fxFlex="32"
          fxFlex.lt-md="50"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-pregnancy.svg" alt="" />
            <h4 class="title4">{{ "pregnancy" | translate }}</h4>
          </div>
          <div class="description">
            {{ "pregnancy-text" | translate }}
          </div>
        </div>
        <div
          class="card"
          fxFlex="32"
          fxFlex.lt-md="50"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-race.svg" alt="" />
            <h4 class="title4">{{ "race" | translate }}</h4>
          </div>
          <div class="description">
            {{ "race-text" | translate }}
          </div>
        </div>
      </div>
      <div
        fxHide
        fxShow.lt-md
        fxLayout="row"
        fxLayoutAlign="center start"
        fxLayoutGap="32px"
      >
        <div
          class="card"
          fxFlex.lt-md="50"
          fxFlex.lt-sm="100"
          fxLayout="column"
          fxLayoutGap="16px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img src="./assets/img/icon-gender.svg" alt="" />
            <h4 class="title4">{{ "gender" | translate }}</h4>
          </div>
          <div class="description">
            {{ "gendre-text" | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright description" fxLayoutAlign="center">
    &copy; 2023 less. Tous droits réservés.
  </div>
</div>
